@{
    ViewBag.Title = "Link";
}

<h1>Another Page ........ </h1>

<div>
    <p><a href="@Url.Content("~/Home/ViewPage1")" target="_self">ViewPage1</a></p>
    <br />
    <p><a href="@Url.Content("~/Home/ViewPage2")" target="_self">ViewPage2</a></p>
    <br />
    <p><a href="@Url.Content("~/Home/ViewPage3")" target="_self">ViewPage3</a></p>    
    <br />
    <p><a href="@Url.Content("~/Home/ViewPage1")" target="_self">ViewPage1</a></p>
    <br />
    <p><a href="@Url.Content("~/Home/ViewPage2")" target="_self">ViewPage2</a></p>
    <br />
    <p><a href="@Url.Content("~/Home/ViewPage3")" target="_self">ViewPage3</a></p>    
    <br />
    <p><a href="@Url.Content("~/Home/SlideShow")" target="_self">SlideShow</a></p>    
    <br />
    <p><a href="@Url.Content("~/Home/PopUp")" target="_self">Popup</a></p>    
    <br />    
    <p><a href="../../Humira/as-01.html" target="_self">../../Humira/as-01.html</a></p>        
    <br />    
</div>