<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<style type="text/css">
    #files, #filesExcluded
    {
        list-style: none;
    }
    
    #files li, #filesExcluded li
    {
        text-align: center;
        width: 80px;
        display: inline-block;
        padding: 10px;
        margin: 5px;
        cursor: hand;
        cursor: pointer;
    }
</style>

<script type="text/javascript">

    function remove(x) {
        $('#filesExcluded').append($('#files li[title=\'' + x + '\']'));
        $('#files li[title=\'' + x + '\']').remove();
        $('#filesExcluded li[title=\'' + x + '\'] a').attr('onclick', 'add(\'' + x + '\')');
        $('#filesExcluded li[title=\'' + x + '\'] a').html('<img src="@Url.Content("~/Content/Images/plus.png")" />');
    }

    function add(x) {
        $('#files').append($('#filesExcluded li[title=\'' + x + '\']'));
        $('#filesExcluded li[title=\'' + x + '\']').remove();
        $('#files li[title=\'' + x + '\'] a').attr('onclick', 'remove(\'' + x + '\')');
        $('#files li[title=\'' + x + '\'] a').html('<img src="@Url.Content("~/Content/Images/minus.png")" />');
    }

    $(document).ready(function () {

        $("#files").sortable();
        $("#files").disableSelection();

        $("#filesExcluded").sortable();
        $("#filesExcluded").disableSelection();

        $("#files, #filesExcluded").sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();

        $("#submitList").click(function () {
            var optionTexts = [];
            $("#files li").each(function () { optionTexts.push($.trim($(this).attr('title'))) });
            alert(optionTexts.join(','));
            var data = "presentationId=" + $('#presentationId').val() + "&PresentationFileSequence=" + optionTexts.join(',') + "&flag=" + $('#flag').val() + "&PostBackTo=" + $('#PostBackTo').val();

            $.ajax({
                type: "POST",
                url: "/Presentation/SubmitList",
                data: data,
                success: function (data) {
                    if (data.Message != null) {
                        alert(data.Message);
                    }
                    window.location = data.redirectTo;
                },
                error: function () {
                    alert('error');
                }
            });
        });

    });

</script>
<h4>
    Re-order Files for presentation: @ViewBag.PresentationName
</h4>
<p>@ViewBag.Message</p>
<form method="post">
@if (@ViewBag.List != null)
{
    <div>
        <br />
        <input type="hidden" value="@ViewBag.PresentationId" name="presentationId" id="presentationId" />
        <input type="hidden" value="@ViewBag.Flag" name="flag" id="flag" />
        <input type="hidden" value="@ViewBag.PostBackTo" name="PostBackTo" id="PostBackTo" />
        <div style="outline: #E6E6E6 solid 2px; padding: 10px">
            <i>Files Included</i>
            <hr />
            <ul id="files" class="connectedSortable">
                @for (var i = 0; i < @ViewBag.List.Count; i++)
                {
                    <li class="ui-state-default" title="@ViewBag.List[i]">@ViewBag.List[i].Substring(0, 5)...
                        <a href="#" onclick="remove('@ViewBag.List[i]')" class="links">
                            <img src="../../Content/Images/minus.png" /></a> </li>
                }
            </ul>
        </div>
        <br />
        <br />
        <div style="outline: #E6E6E6 solid 2px; padding: 10px">
            <i>Files Excluded</i>
            <hr />
            <ul id="filesExcluded" class="connectedSortable">
                @for (var i = 0; i < @ViewBag.ListExcluded.Count; i++)
                {
                    <li class="ui-state-default" title="@ViewBag.ListExcluded[i]">@ViewBag.ListExcluded[i].Substring(0, 5)...
                        <a href="#" onclick="add('@ViewBag.ListExcluded[i]')" class="links">
                            <img src="../../Content/Images/plus.png" /></a> </li>
             
                }
            </ul>
        </div>
    </div>

    <br />
    <input type="button" value="Save" class="btn" id="submitList" />
                if (@ViewBag.Flag == 1)
                {
    <input type="button" value="Skip to Next" class="btn" onclick="javascript:window.location.replace('/Presentation/AddPresentationUsers?id=@ViewBag.PresentationId&presentationName=@ViewBag.PresentationName&flag=1');"/>
                }
}
</form>