@{
    Layout = @ViewBag.Layout;
}
<script type="text/javascript">
    $(function () {
        removeSelectedPresenterFromUsers();

        $("#PresenterId").change(function () {
            removeSelectedPresenterFromUsers()
        });
    });

    function removeSelectedPresenterFromUsers() {
        var val = $('#PresenterId option:selected').text();
        var id = '#' + val;
        $('.checkboxDiv').css("display", "block");
        $(id).css("display", "none");
        $(".chkBox" + val).removeAttr('checked');
    }
</script>
@model PresentationApp.DataAccess.Models.Presentation.UserCheckList
@using (Html.BeginForm("AddPresentationUsers", "Presentation", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(model => model.PresentationId)
        @Html.HiddenFor(model => model.PresentationName)
        @Html.HiddenFor(model => model.flag)
        <h4>
            Select users for Presentation : @Html.DisplayFor(model => model.PresentationName)</h4>
        @Html.DropDownListFor(model => model.PresenterId, new SelectList(Model.PresenterList, "Id", "Name"))
        @for (int i = 0; i < Model.userCheckList.Count; i++)
        {
            <div id="@Model.userCheckList[i].Name" class="checkboxDiv">
                @Html.HiddenFor(x => x.userCheckList[i].Id)
                @Html.CheckBoxFor(x => x.userCheckList[i].Checked, new { @class = "chkBox" + @Model.userCheckList[i].Name })&nbsp;&nbsp;
                @Html.HiddenFor(x => x.userCheckList[i].Name)
                @Html.DisplayFor(x => x.userCheckList[i].Name)
            </div>
        }
        <br />
        <input type="submit" value="Save" class="btn" />
        @if (@Model.flag == 1)
        {
            <span>
                <input type="button" value="Cancel" class="btn" onclick="javascript:window.location.replace('/Presentation/Index');" /></span>}
    </div>

}
<p class="control-group" style="color: Red">
    @if (@TempData["Message"] != null)
    {
        <script type="text/javascript">            alert('@TempData["Message"]');</script>

    }
</p>