@{
    Layout = "~/Views/Shared/_LinkLayout.cshtml";
    ViewBag.Title = "Manage Users";
}
<!-- This is required here. Otherwise a different font re-adjusts when u open the dialog boxes -->
@model IEnumerable<PresentationApp.Domain.Account.Users>
<script type="text/javascript">
    function deleteUserFunction(id) {
        $.ajax({
            type: "POST",
            url: "/Account/CheckUserIsOccupied",
            data: "id=" + id,
            success: function (data) {
                if (data.Message != null) {
                    alert(data.Message);
                }
                else {
                    $.ajax({
                        url: data.redirectTo,
                        type: 'GET',
                        dataType: 'html',
                        success: doSuccess
                    });
                }

            },
            error: function () {
                alert('error');
            }
        });

    }

    function editUserFunction(ur) {
        $.ajax({
            url: ur,
            type: 'GET',
            dataType: 'html', // <-- to expect an html response
            success: doSuccess
        });
    }

    function doSuccess(result) {
        $('div#modalDiv').css("visibility", "visible");
        $('div#div1').css("visibility", "visible");
        $('div#popupDiv').css("visibility", "visible");
        $('div#popupDiv').html(result);

    }

</script>
<style type="text/css">
    .stylepopup
    {
        width: 550px;
        border: 5px solid #DDDDDD;
        background-color: #ECECEC;
        visibility: hidden;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }

    .styleModal
    {
        opacity: 0.4;
        left: 0px;
        position: absolute;
        background: black;
        top: 0px;
        width: 100%;
        height: 100%;
        visibility: hidden;
    }

    .cursorStyle
    {
        cursor: hand;
        cursor: pointer;
    }
</style>
<h4>
    Manage User</h4>
<p>
    <a href="#" onclick="editUserFunction('/Account/CreateUser?&flag=1')">Create New User</a>
</p>
<br />
<table class="table table-hover table-bordered">
    <tr>
        <th>
            Name
        </th>
        <th>
            Username
        </th>
        <th>
            Email Id
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Is Admin?
        </th>
        <th style="width: 70px; text-align: center;">
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="cursorStyle">
            <td onclick="editUserFunction('/Account/CreateUser?id=@item.Id&flag=2')">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td onclick="editUserFunction('/Account/CreateUser?id=@item.Id&flag=2')">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td onclick="editUserFunction('/Account/CreateUser?id=@item.Id&flag=2')">
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td onclick="editUserFunction('/Account/CreateUser?id=@item.Id&flag=2')">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td onclick="editUserFunction('/Account/CreateUser?id=@item.Id&flag=2')">
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td id="links" onclick="deleteUserFunction(@item.Id)" style="text-align:center">
                <a href="#">
                    <img src="../../Content/Images/delete20x20.png" /></a>
            </td>
        </tr>

    }
</table>
<div id="modalDiv" class="styleModal">
</div>
<div id="div1" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px;
    visibility: hidden">
    <div id="popupDiv" class="stylepopup">
    </div>
</div>
<p class="control-group" style="color: Red">
    @if (@TempData["Message"] != null)
    {
        <script type="text/javascript">            alert('@TempData["Message"]');</script>
    }
</p>